<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
<div class="row col-lg-12">
    <input id="username" type="text" placeholder="Username"/>
    <button id="send_username">Klik</button>
    <hr>
    <input id="message" type="text" placeholder="Username"/>
    <button id="send_message">Klik</button>
</div>
</body>

<Script>
    $(function () {
        var socket = io.connect("http://127.0.0.1:3000/")
        var message = $("#message")
        var username = $("#username")
        var send_message = $("#send_message")
        var send_username = $("#send_username")
        var chatroom = $("#chatroom")

        //send username
        send_username.click(function () {
            socket.emit('change_username',{username : username.val()})
        })

        //listen
        socket.on("new_message",(data)=>{
            console.log("----------------------NEW DATA-------------------------------")
            console.log(data)
        })

        //send message
        send_message.click(function () {
            socket.emit('new_message',{message : message.val()})
        })
    })
</Script>
</html>
